@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dropdown,.dropdown-submenu{
  position: relative;
  display: inline-block;
}

.navlink{
  z-index: 2;
}

.dropdown-content{
  display: none;
  position: absolute;
  border-radius: 5px;
  background: black;
  color: white;
  padding: 10px;
  z-index: 2;
}

.dropdown-menu{
  display: none;
  position: absolute;
  border-radius: 5px;
  background: black;
  color: white;
  padding: 10px;
  left: 100%;
  top: 10%;
  z-index: 2;
}

.dropdown:hover .dropdown-content,.dropdown-submenu:hover .dropdown-menu{
  display: block;
}

.dropdown-submenu:hover,.dropdown-list:hover{
  color: #AD2E24;
}

.top{
  position: absolute;
  top: 500px;
}

.divine:hover{
  background: black;
  transition: ease 500ms;
}

.boost:hover{
  background: #2196F3;
  transition: ease 500ms;
  color: white;
  border-color: white;
}
